.homepage {
  display: grid;
  place-content: center;
  position: relative;
  width: 100vw;
  padding: 0;
  height: 100vh;
 
  .accountBtn {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }

  .account {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
  }
  
  .welcomeContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    
    >div {
      display: grid;
      gap: 1em;
      
      h1 {
        font-weight: 200;
        font-size: 54px;
      }
      p {
        font-style: italic;
        font-size: 18px;
        font-weight: 300;
      }
    }
    .projectsBtn {
      width: 320px;
      place-self: center;
    }

  }
}


.accountPopup {
  position: absolute;
  place-self: center;
  max-width: 420px;
  padding: 3em 2.5em;
  border: 1px solid var(--feature);
  border-radius: 8px;
  text-align: center;
  background: #fafafa;
  box-shadow: 0 0 20px 0px #6458f333;

  >h2 {
    margin-bottom: 1.5em;
    font-weight: 200;
    font-size: 32px;
  }

  >div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}


input {
  margin: 0;
  padding: 0.75em 1em;
  text-align: left;
  border: 2px solid var(--component);
  &:focus {
    border-color: var(--highlight-faded);
  }
}


.navBtn {
  padding: 0.75em 1.25em;
  border-radius: 5px;
  font-size: 16px;
  background: var(--highlight);
  color: var(--text-contrast);
  cursor: pointer;
  
  &.navBtnInv {
    background: transparent;
    box-shadow: inset 0 0 0 2px var(--highlight-faded);
    color: var(--highlight);

    transition: all 300ms;

    &:hover {
      background: var(--highlight);
      color: var(--text-contrast);
    }
  }
}

.closePopup {
  position: absolute;
  height: 2em;
  width: 2em;
  top: 0.5em;
  right: 0.5em;
  padding: 0.25em;
  border-radius: 1em;
  font-style: normal;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background: var(--component);
  }
}