:root {
  --highlight: #6458f4;
  --highlight-faded: #6458f4cc;
  --highlight-dark: #4233eb;
  --cancel: #ed4832;

  --background: #fafafa;
  --component: #e8e9eb;
  --feature: #ccc;
  --selected: #aeaeae;
  --border: #666;

  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #1d1d1f;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter','Segoe UI';
}

html {
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
  background: var(--background);
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* //////////////////////////////////////////////////////////////// */


button {
  border: none;
  cursor: pointer;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

input {
  all: unset;
}

/* GLOBAL STYLE */
form {
  border-radius: 5px;
  padding: 0;
}

input:focus {
  border: 2px solid var(--highlight);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-for-column {
  cursor: pointer;
  color: #4d5d66;
  font-weight: bold;
  text-decoration: underline;
}

.btn-for-others1 {
  cursor: pointer;
  color: var(--highlight);
  border: solid 2px;
  border-radius: 5px;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

.btn-for-others1:hover {
  background: var(--highlight);
  color: white;
}

.btn-for-others2 {
  cursor: pointer;
  color: white;
  background-color: var(--highlight);
  border-radius: 5px;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

.btn-for-others2:hover {
  cursor: pointer;
  color: var(--highlight);
  background-color: white;
  border-radius: 5px;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

.btn-for-delete {
  cursor: pointer;
  color: #ed4832;
  border: solid 2px;
  border-radius: 5px;
  padding: 0.3rem 2rem 0.3rem 2rem;
}
